<div class="signup">
  <form class="signup__form" [formGroup]="signUpForm">
    <div class="signup__form__field">
      <label for="firstName">Nome</label>
      <input type="text" id="firstName" formControlName="firstName">
      @if (signUpForm.get('firstName')?.hasError('required') && signUpForm.get('firstName')?.touched) {
        <app-input-message-error message="Campo obrigatório" />
      }
    </div>
    <div class="signup__form__field">
      <label for="lastName">Sobrenome</label>
      <input type="text" id="lastName" formControlName="lastName">
      @if (signUpForm.get('lastName')?.hasError('required') && signUpForm.get('lastName')?.touched) {
        <app-input-message-error message="Campo obrigatório" />
      }
    </div>
    <div class="signup__form__field">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password">
      @if (signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched) {
        <app-input-message-error message="Campo obrigatório" />
      }
      @if (signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.touched) {
        <app-input-message-error message="A senha precisa ter no mínimo 6 dígitos" />
      }
    </div>
    <div class="signup__form__field">
      <label for="email">E-mail</label>
      <input type="email" id="email" formControlName="email">
      @if (signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched) {
        <app-input-message-error message="Campo obrigatório" />
      }
      @if (signUpForm.get('email')?.hasError('email')) {
        <app-input-message-error message="O campo precisa ser no formato email email&#64;email.com.br" />
      }
    </div>

    <div class="signup__form__buttons">
      <button
        type="button"
        (click)="submitSignUpForm()"
        [disabled]="signUpForm.invalid">
        Entrar
      </button>
    </div>
  </form>
</div>
