.home {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid red;

  p {
    margin-left: 8px;
  }

  .buttons {
    margin-right: 8px;
    button {
      padding: 4px 8px;
    }

    button + button {
      margin-left: 8px;
    }
  }
}
